In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import roc_auc_score

In [2]:
loan_train_data=pd.read_csv("C:\\Users\\Ujjawal\\Anaconda3\\input_files\\Avidya_data\\train_u6lujuX_CVtuZ9i.csv")
loan_test_data=pd.read_csv("C:\\Users\\Ujjawal\\Anaconda3\\input_files\\Avidya_data\\test_Y3wMUE5_7gLdaTN.csv")
labels=loan_train_data['Loan_ID']

loan_train_data=loan_train_data.drop(['Loan_ID','Dependents'],axis=1)
loan_train_data.head()

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
loan_test_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [4]:
loan_train_data=loan_train_data.fillna(0, inplace=True)

# Label Encoding of the Categorical Data
loan_train_data.Gender[loan_train_data.Gender == 'Male'] = 1
loan_train_data.Gender[loan_train_data.Gender == 'Female'] = 0
loan_train_data.Married[loan_train_data.Married == 'Yes'] =1
loan_train_data.Married[loan_train_data.Married == 'No'] =0
loan_train_data.Education[loan_train_data.Education == 'Graduate'] =1
loan_train_data.Education[loan_train_data.Education == 'Not Graduate'] =0
loan_train_data.Self_Employed[loan_train_data.Self_Employed == 'Yes'] =1
loan_train_data.Self_Employed[loan_train_data.Self_Employed == 'No'] =0
loan_train_data.Property_Area[loan_train_data.Property_Area == 'Rural'] =0
loan_train_data.Property_Area[loan_train_data.Property_Area == 'Urban'] =1
loan_train_data.Property_Area[loan_train_data.Property_Area == 'Semiurban'] =2
loan_train_data.Loan_Status[loan_train_data.Loan_Status == 'Yes'] == 1
loan_train_data.Loan_Status[loan_train_data.Loan_Status == 'No'] == 0

#Separating the feature data from target data
x=loan_train_data.drop('Loan_Status',axis=1)
y=loan_train_data.Loan_Status

#Splitting the data into train data and test data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=20)
print(x_test)
print(y_test)

AttributeError: 'NoneType' object has no attribute 'Gender'

In [6]:
x_train['Income']=x_train['ApplicantIncome'] + x_train['CoapplicantIncome']
x_test['Income']=x_test['ApplicantIncome'] + x_test['CoapplicantIncome']

NameError: name 'x_train' is not defined

In [ ]:
x_train=x_train.drop(['ApplicantIncome','CoapplicantIncome'],axis=1)
x_test=x_test.drop(['ApplicantIncome','CoapplicantIncome'],axis=1)

# error may arise due to multiple execution of the this code segment)

In [ ]:

x_test.head()

In [7]:
loan_test_data=loan_test_data.fillna(0, inplace=True)
labels_test=loan_test_data['Loan_ID']
loan_test_data=loan_test_data.drop(['Loan_ID','Dependents'],axis=1)
# Label Encoding of the Categorical Data
loan_test_data.Gender[loan_test_data.Gender == 'Male'] = 1
loan_test_data.Gender[loan_test_data.Gender == 'Female'] = 0
loan_test_data.Married[loan_test_data.Married == 'Yes'] =1
loan_test_data.Married[loan_test_data.Married == 'No'] =0
loan_test_data.Education[loan_test_data.Education == 'Graduate'] =1
loan_test_data.Education[loan_test_data.Education == 'Not Graduate'] =0
loan_test_data.Self_Employed[loan_test_data.Self_Employed == 'Yes'] =1
loan_test_data.Self_Employed[loan_test_data.Self_Employed == 'No'] =0
loan_test_data.Property_Area[loan_test_data.Property_Area == 'Rural'] =0
loan_test_data.Property_Area[loan_test_data.Property_Area == 'Urban'] =1
loan_test_data.Property_Area[loan_test_data.Property_Area == 'Semiurban'] =2

TypeError: 'NoneType' object is not subscriptable

In [8]:
loan_test_data['Income']=loan_test_data['ApplicantIncome'] + loan_test_data['CoapplicantIncome']
loan_test_data.head()

TypeError: 'NoneType' object is not subscriptable

In [9]:
loan_test_data=loan_test_data.drop(['ApplicantIncome','CoapplicantIncome'],axis=1)
loan_test_data.head()
loan_test_data.info()

AttributeError: 'NoneType' object has no attribute 'drop'

In [10]:
classifier=LogisticRegression()
classifier.fit(x_train,y_train)

print('score of the logistic regression is: {:.2f}'.format(classifier.score(x_test,y_test)))
y_score=classifier.predict(x_test)
roc_auc_score(y_test,y_score)

NameError: name 'x_train' is not defined

In [13]:
predicted=classifier.predict(loan_test_data)
submission=pd.DataFrame({"Loan_ID":labels_test,"Loan_Status":predicted})
submission.to_csv('loan_submission_file.csv',index=False)

NameError: name 'classifier' is not defined